* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    padding: 20px;
    background-color: cornflowerblue;
    color: darkred;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container form {
    display: block
}